/* Full Page Background */
.about-page {
    min-height: 100vh;
    padding: 30px;
   background-image: linear-gradient(to bottom,#82DAF5,#E9F0F2);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Back Button */
.about-btn button {
    padding: 10px 20px;
    font-size: large;
    background-color: #f69449;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
 
}

.backs-btn button:hover {
    background-color: #1b1b1b;
}

/* Main Page Title */
.about-title {
    text-align: center;
    font-size: 40px;
    color: brown;
    margin-top: 20px;
    margin-bottom: 40px;
}

/* Each Section (Image left + text right) */
.about-section {
    display: flex;
    align-items: center;
    gap: 100px;
    margin: 40px 0;
    
    padding: 25px;
    border-radius: 12px;
 
}

/* Section Images */
.about-section img {
    width: 480px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

/* Section Text */
.about-text h2 {
    font-size: xx-large;
    margin-bottom: 10px;
    color: #a12f2f;
}

.about-text p {
    font-size: x-large;
    line-height: 1.5;
    color: #2d2020;
    max-width: 600px;
    text-align: justify;
}


