.card-body p{
    font-size:xx-large;
   text-align: justify;

    word-spacing: 2px;
     font-family:'Times New Roman', Times, serif;
    font-weight:lighter;
 
    line-height: 50px;
}
.card{
    height: 100%;
    width: 1100px;
     margin: 0px 300px;
     
}
.card-body h3{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: xx-large;
}
