.admin-sidebar {
    width: 300px;
    height: 100vh;
    background-color:grey;   /* Dark Navy */
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
  
}

/* Logo Section */
.sidebar-logo {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
   
}

.sidebar-logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.sidebar-logo h2 {
    font-size: x-large;
    margin-top: 5px;
}

/* Menu Section */
.sidebar-menu {
    list-style: none;
    padding: 0;
}

/* .sidebar-menu li {
    margin: 1px 0;
} */

.sidebar-menu li a {
    text-decoration: none;
    color: #e2e8f0;
    padding: 12px 50px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size:x-large;
    border-left: 3px solid transparent;
}

.sidebar-menu li a:hover {
   color: bisque;
}

/* Icons */
.icon {
    font-size: large;
}

/* Logout Section */
.sidebar-logout {
    padding: 20px 100px;
}

.sidebar-logout a:hover svg{
 stroke: rgb(79, 4, 4);
}


