.viewdonation-container {
    margin-left: 300px;
    padding: 20px;
   
    
}

.viewdonation-container h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.view-donations {
    display: flex;
   flex-direction: row;
    gap: 20px;
}

.donationbook-card {
    width: 280px;
    background: #ffffff;
    padding: 15px;
    border-radius: 14px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    text-align: center;
   
}


.donationbook-card img {
    width: 50%;
    height: 180px;
    
    border-radius: 12px;
    margin-bottom: 10px;
}

.donationbook-card h4 {
    font-size: x-large;
    color: #222;
    margin-bottom: 5px;
    text-align: left;
}

.donationbook-card p {
    margin: 4px 0;
    color: #555;
    font-size: large;
    text-align: left;
}
