.admin-login{
    
    justify-content: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100vh;
    background-image: url(https://static.vecteezy.com/system/resources/previews/046/869/420/large_2x/cozy-winter-evening-with-a-warm-drink-and-a-book-by-the-fireplace-free-photo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
   
   
}
/* body{
    background-image: url(https://static.vecteezy.com/system/resources/previews/046/869/420/large_2x/cozy-winter-evening-with-a-warm-drink-and-a-book-by-the-fireplace-free-photo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
} */
.admin-login h2{
    font-size: xx-large;
    font-weight: bolder;
}
.admin-login-form{
   display: flex;
   flex-direction: column;
   width: 400px;
   padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
     border-radius: 8px;
     border: 1px solid #ccc;
     background-color: transparent
      
   

}
.admin-login-form label{
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 8px;
    padding: 5px;
}
.admin-login-form input{
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 2px;
     border: 1px solid #aaa;
     border-radius: 4px;
     font-size: larger;
     background-color: transparent;

}
.admin-login-form button{
   padding: 10px 20px;
   margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: fit-content;
 font-size: large;
 align-self: center;
}
.admin-login-form button:hover{
    background-color: #3f3cf3;
}
.admin-login-form p{
    color: red;
    font-size: large;
    font-weight: bold;
}