/* Background */
.contact-page {
    min-height: 100vh;
    padding: 40px;
    background-image:linear-gradient(to bottom,#82DAF5,#E9F0F2) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Title */
.contact-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    color: #131313;
}

/* Main container */
.contact-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 40px;
    padding: 35px;
    background: rgba(255, 255, 255, 0.25);
     box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 12px;
    height: 50vh;
}

/* Contact info */
.contact-info {
    /* width: 40%;
    color: #1d1c1c;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); */
    width: 400px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
     border: 1px solid #f1efef;
     background-color: transparent;
}

.contact-info h2 {
    font-size: xx-large;
    font-weight: bolder;
    margin-bottom: 10px;
    text-align: center;
}

.contact-info p {
    font-size: x-large;
    margin: 10px 0;
    line-height: 1.5;
}

/* Map box */
.contact-map {
    width: 50%;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
}
.contact-btn button {
    padding: 10px 20px;
    font-size: large;
    background-color:  #f69449;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
 
}

