.footer {
  background-color: #2c3e50;
  color: #ecf0f1;
  text-align: center;
  padding: 20px 0;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  width: 100%;
}

.footer-links {
  margin-bottom: 10px;
}

.footer-links a {
  color: #ecf0f1;
  text-decoration: none;
  margin: 0 10px;
  font-weight:bold;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #ffcc00;
}

.social-links p {
  margin: 5px 0;
  font-weight: bold;
}

.social-links a {
  color: #ecf0f1;
  text-decoration: none;
  margin: 0 5px;
  font-weight: bold;

}

.social-links a:hover {
  color: #ffcc00;
}

.copyright {
  margin-top: 10px;
  font-size: large;
  color: #bdc3c7;

  font-weight: bold;
}
