.footer {
  background-color: #f0f2f4;
  color: #0a0c0c;
  text-align: center;
  padding: 20px 0;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  width: 100%;
}

.footer-links {
  margin-bottom: 10px;
}

.footer-links a {
  color: #0a0b0b;
  text-decoration: none;
  margin: 0 10px;
  font-weight:bold;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #4f2cec;
}

.social-links p {
  margin: 5px 0;
  font-weight: bold;
}

.social-links a {
  color: #151717;
  text-decoration: none;
  margin: 0 5px;
  font-weight: bold;

}

.social-links a:hover {
  color: #4f2cec;
}

.copyright {
  margin-top: 10px;
  font-size: large;
  color: #1f2529;

  font-weight: bold;
}
