.image-sec{
    display: flex;
    align-items: center;

}
.image-sec img{
  width: 1000px; 
  height: 90vh;  
  margin: 20px 20px;
border-radius: 20%;
}
.content-sec{
    display: flex;
    flex-direction: column;
   align-items: center;
    
   

}
.welcome-heading {
  text-align: center;      
  margin-top: 90px;     
  line-height: 1.3;        
  font-family: 'Poppins', sans-serif; 
}

.main-text {
  display: block;
  font-size: 48px;          
  font-weight: 800;
  color: #2c3e50;           
  letter-spacing: 2px;
}

.sub-text {
  display: block;
  font-size: 22px;          
  font-weight: bold;
  color: #555;
  margin-top: 2px;
}



.content-sec button{
     padding: 10px 20px;
   margin-top: 10px;
  background-color: #ff8800;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: fit-content;
 font-size: large;
 align-self: center;
}
