#l1{
    width: 1000px;
    height: 650px;
    margin: 20px 20px;
    border-radius: 25%;

}
.landpage{
    display: flex;
   
    
}
.subland{
    text-align: center;
}
.subland p{
  font-size:xx-large;
  text-align: center;
  
  margin-top: 200px;
  margin-left: 20px;
  font-weight: bolder;

  word-spacing: 2px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#landbtn{
    margin-top: 20px;
}