.herosection{
  display: flex;
  justify-content:flex-start;
  align-items:center;
  padding-left: 150px;
  margin-top: 200px;
}

.content-sec{
    display: flex;
    flex-direction: column;
    align-items: center;


}
.welcome-heading {
     
  text-align: center;
  line-height: 1.3;        
  font-family: 'Poppins', sans-serif; 
}

.main-text {
  display: block;
  font-size: 48px;          
  font-weight: 800;
  color: #2c3e50;           
  letter-spacing: 2px;
}

.sub-text {
  align-items: center;
  display: block;
  font-size: 22px;          
  font-weight: bold;
  color: #555;
  margin-top: 2px;
}



.content-sec button{
     padding: 10px 20px;
   margin-top: 10px;
  background-color: #207b02;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: fit-content;
 font-size: large;
 align-self: center;
}
