.landing-page{
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20250612/pngtree-a-stack-of-books-is-piled-on-top-each-other-creating-image_17417898.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}