.libmembers-container {
    margin-left: auto;
    padding: 40px;
    height: 100vh;
    background-image: linear-gradient(to bottom,#ffa31d,#ef5454);
}

.libmembers-container h1 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}
.libmembers {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    margin-left: 250px;
    margin-top: 30px;
    gap: 20px;
}
.libmem-back-btn{
    margin-left: 200px;
    margin-top: 25px
}
.libmem-back-btn button{
    padding: 5px 10px;
  
 background-color:chocolate;
  color:white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

 font-size: large;


}

.libmember-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    text-align: center;
    margin-left: 30px;
    width:200px;
}
.libmember-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.libmember-details {
    text-align: left;
    margin-top: 10px;
    line-height: 1.6;
}

.libmember-details p {
    margin: 6px 0;
    font-size: large;
    color: #374151;
    line-height: 1.5;
}

.libmember-details span {
    font-weight: 600;
    color: #111827;
}
.libmember-card button{
     background-color:red;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}


