.lib-bookcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image:url(https://media.istockphoto.com/id/639392022/vector/bookshelves-background-vector-illustration.jpg?s=612x612&w=0&k=20&c=1DNOwFJabnlqHzShnSHfWOsNBUTtIaOgFBcpGQO_-oQ=) ;
    background-repeat: no-repeat;
    background-size: cover; */
    background-image: linear-gradient(to top, #d2ffff,#0694c6);
}

.lib-topbar {
  align-self: flex-end;
  margin: 25px 500px 0 0;
}

.back-btn {
    background-color: #494a4b;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    
}

.back-btn:hover {
    background-color: #005ad6;
}


.lib-addbook-form{
     display: flex;
    flex-direction: column;
    width: 400px;
     padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
     border-radius: 8px;
     border: 1px solid #0a0a0a;
     background-color: transparent
}
.lib-bookcontainer h2{
     font-size: xx-large;
    font-weight: bolder;
}
.lib-addbook-form label{
     font-size: x-large;
    font-weight: bold;
    margin-bottom: 8px;
    padding: 5px;
}
.lib-addbook-form input{
     margin-bottom: 5px;
    padding: 10px;
    border-radius: 2px;
     border: 2px solid #111111;
     border-radius: 4px;
     font-size: larger;
     background-color: transparent;
}
.lib-addbook-form input::placeholder{
    color: #080808;
}
.lib-addbook-form button{
    padding: 10px 20px;
   margin-top: 10px;
  
  background-color:brown;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: fit-content;
 font-size: large;
 align-self: center;
}
.lib-addbook-form button:hover{
    background-color:rgb(171, 59, 59);
}
.lib-addbook-form textarea{
      margin-bottom: 5px;
    padding: 10px;
    border-radius: 2px;
     border: 2px solid #080808;
    
     border-radius: 4px;
     font-size: x-large;
     background-color: transparent;
}
.lib-addbook-form textarea::placeholder{
    color: #080808;
}