.libnavbar{
     display: flex;
    
    align-items: center;
   
    justify-content:left;
    padding: 5px 40px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.lib-nav-logo img{
    border-radius: 50%;
     width: 100px;
     height: 100px;
     margin-right: 20px;

}
.lib-nav-links{
     display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}
.lib-nav-links a{
    text-decoration: none;
    color:#333;
    font-size:large;
    font-weight: bold;

}
.lib-nav-links a:hover{
    color:#e99a23
    
}
.lib-profile-request{
 
    margin-left: auto;
  
    
}
.lib-profile-request a{
  margin-right: 30px;
}
.lib-profile-request a svg{
    cursor: pointer;
    
  
}



.lib-profile-request a:hover svg{
    stroke:#e99a23;
}
.lib-logout{
    margin-left: 30px;

}
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 120px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  border-radius: 6px;
  z-index: 10;
  padding: 0;
  margin: 0;
}

.dropdown-content li {
  list-style: none;
}

.dropdown-content li a {
  display: block;
  padding: 8px 12px;
  color: black;
  text-decoration: none;
}

.dropdown-content li a:hover {
  background-color: #f0f0f0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  cursor: pointer;
}
