.lib-reg{
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20250612/pngtree-a-closeup-of-the-bookshelves-in-an-office-library-filled-with-image_17417725.jpg );
    background-repeat: no-repeat;
    background-size: cover;
}
.lib-reg h2{
       font-size: xx-large;
    font-weight: bolder;
}
.lib-home-link {
  align-self: flex-end;
  margin: 100px 500px 0 200px;
}
.lib-reg-form{
    display: flex;
    flex-direction: column;
    width: 400px;
     padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
     border-radius: 8px;
     border: 2px solid #656464;
     background-color: transparent

}
.-home-link {
  align-self: flex-end;
  margin: 100px 500px 0 200px;
}
.lib-reg-form label{
     font-size: x-large;
    font-weight: bold;
    margin-bottom: 8px;
    padding: 5px;
}
.lib-reg-form input{
     margin-bottom: 5px;
    padding: 10px;
    border-radius: 2px;
   
     border: 2px solid #aaa;
     border-radius: 4px;
     font-size: larger;
     background-color: transparent;
}
.lib-reg-form input::placeholder{
      color:azure;
}
.lib-reg-form button{
    padding: 10px 20px;
   margin-top: 10px;
  
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: fit-content;
 font-size: large;
 align-self: center;
}
.lib-reg-form button:hover{
      background-color: #3f3cf3;
}
.lib-reg-form p{
  font-size: x-large;
}