.update-profile{
       display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.updateprofile-form{
    display: flex;
    flex-direction: column;
    width: 400px;
     padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
     border-radius: 8px;
     border: 2px solid #656464;
     background-color: transparent
}
.updateprofile-form label{
      font-size: x-large;
    font-weight: bold;
    margin-bottom: 8px;
    padding: 5px;
}
.updateprofile-form input{
     margin-bottom: 5px;
    padding: 10px;
    border-radius: 2px;
     border: 2px solid #aaa;
     border-radius: 4px;
     font-size: larger;
     background-color: transparent;
}
.updateprofile-form button{
    padding: 10px 20px;
   margin-top: 10px;
  
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: fit-content;
 font-size: large;
 align-self: center;
}
.updateprofile-form input ::placeholder{
     color:azure;
}
.updateprofile-form button:hover{
    background-color: #3f3cf3;
}
.updateprofile-form select{
     font-size: large;
    
    margin-bottom: 8px;
    padding: 5px;
    
    background-color: transparent;
}
