.userdash-contnet{
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 85vh;
    background-color: #96c5f3;
    color: #333;
     font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; */
   
}
.userdash-contnet h1{
    font-size: xx-large;
    font-weight: bolder;
   
}
.userdash-contnet h3{
    font-size: larger;
    font-weight: bold;
}



