.user-reg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:url(https://img.freepik.com/free-photo/clipboard-with-ribbons-candles_23-2147628613.jpg);
    background-size:cover
   
   
}
.gender-group {
    display: flex;
    gap: 20px;
    margin: 5px 0 15px 0;
    font-size: x-large;
}






.user-home-link {
  align-self: flex-end;
  margin: 100px 500px 0 200px;
}






.user-reg-form{
    display: flex;
    flex-direction: column;
    width: 500px;
     padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
     border-radius: 8px;
     border: 2px solid #191818;
     background-color: transparent;
    

}
.user-reg h2{
       font-size: xx-large;
    font-weight: bolder;
   
}
.user-reg-form label{
     font-size: x-large;
    font-weight: bold;
    margin-bottom: 8px;
    padding: 5px;
}
.user-reg-form input{
     margin-bottom: 5px;
    padding: 10px;
    border-radius: 2px;
     border: 2px solid #353535;
     border-radius: 4px;
     font-size: larger;
     background-color: transparent;
}
.user-reg-form input::placeholder{
    color:rgb(39, 40, 40);
}
.user-reg-form button{
     padding: 10px 20px;
   margin-top: 10px;
  
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: fit-content;
 font-size: large;
 align-self: center;
}
.user-reg-form button:hover{
    background-color: #3f3cf3;
}
.user-reg-form select{
     font-size: large;
    
    margin-bottom: 8px;
    padding: 5px;
    
    background-color: transparent;
}
.user-reg-form p{
    font-size: x-large;

}
