.user-form{
justify-content: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100vh;
   background-image: url(https://t4.ftcdn.net/jpg/15/92/01/77/360_F_1592017730_sK8xwsH8QFCXCiUbfwmMH8i9Cu40sblT.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}
.user-form h2{
     font-size: xx-large;
    font-weight: bolder;
}

.user-login-form{
    display: flex;
    flex-direction: column;
     width: 400px;
     padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
     border-radius: 8px;
     border: 2px solid #656464;
     background-color: transparent

}
.user-login-form label{
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 8px;
    padding: 5px;
}
.user-login-form input{
     margin-bottom: 5px;
    padding: 10px;
    border-radius: 2px;
     border: 2px solid #aaa;
     border-radius: 4px;
     font-size: larger;
     background-color: transparent;
}
.user-login-form button{
    padding: 10px 20px;
   margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: fit-content;
 font-size: large;
 align-self: center;
}
.user-login-form button:hover{
    background-color: #3f3cf3;
}
.user-login-form p{
    color: red;
    font-size: large;
    font-weight: bold;
}
.user-login-form h3{
    color: rgb(212, 208, 204);
}
.user-login-form a{
    color:rgb(17, 15, 32);
}
.user-login-home-link {
  align-self: flex-end;

  margin-right: 100px;
 
}