.user-reg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://media.istockphoto.com/id/843057204/photo/back-to-school-with-book-stack-in-autumn-season.jpg?s=612x612&w=0&k=20&c=S0HA8d5VB0ABvNha2_MHFMzQuFrf84qCO9ewsIOgLGI=);
    background-repeat: no-repeat;
    background-size: cover;
}
.user-reg-form{
    display: flex;
    flex-direction: column;
    width: 400px;
     padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
     border-radius: 8px;
     border: 2px solid #656464;
     background-color: transparent

}
.user-reg h2{
       font-size: xx-large;
    font-weight: bolder;
   
}
.user-reg-form label{
     font-size: x-large;
    font-weight: bold;
    margin-bottom: 8px;
    padding: 5px;
}
.user-reg-form input{
     margin-bottom: 5px;
    padding: 10px;
    border-radius: 2px;
     border: 2px solid #aaa;
     border-radius: 4px;
     font-size: larger;
     background-color: transparent;
}
.user-reg-form input::placeholder{
    color:azure;
}
.user-reg-form button{
     padding: 10px 20px;
   margin-top: 10px;
  
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: fit-content;
 font-size: large;
 align-self: center;
}
.user-reg-form button:hover{
    background-color: #3f3cf3;
}
.user-reg-form select{
     font-size: large;
    
    margin-bottom: 8px;
    padding: 5px;
    
    background-color: transparent;
}
