.view-donation-books{
    padding: 20px 20px;
}

.mybook-card img{
     width: 200px;
    height: 180px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 10px;
}
.mybook-card{
    
    border: 2px solid black;
    background-color: #fff;
    border-radius: 8px;
    
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
    padding:15px;
    width: fit-content;
    transition: transform 0.2s;

}
.my-books{
    display:flex;
    gap: 10px;
}
.others-books{
     display:flex;
    gap: 10px;
}
.view-donation-books h1{
    text-align: center;
}

.btn-active {
  background-color: #2c7ef5;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-active:hover {
  background-color: #1a5ec8;
}


.btn-disabled {
  background-color: gray !important;
  color: white !important;
  cursor: not-allowed !important;
  opacity: 0.7 !important;
  border: none !important;
  padding: 8px 15px !important;
  border-radius: 6px !important;
}
button:disabled {
  background-color: gray !important;
  color: white !important;
  cursor: not-allowed !important;
  opacity: 0.7 !important;
}
/* .section-box {
 
  border: 2px solid #d0d0d0;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
} */
.user-link-dash {
  margin-left: 30px;
  justify-content: start;
  margin-bottom: 5px;
}
.user-link-dash button{
    padding: 10px 20px;
    font-size: large;
    background-color: #f69449;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.description{
   padding: 8px 10px;
    font-size: small;
    background-color:darkolivegreen;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
   margin-right: 3px
}
/* ----- MODAL BACKDROP ----- */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* ----- MODAL BOX ----- */
.modal-content {
  background: white;
  width: 450px;
  padding: 25px;
  border-radius: 10px;
  text-align:justify;
  
  animation: fadeIn 0.3s ease-in-out;
}

/* Close Button */
.close-btn {
  margin-top: 15px;
  padding: 10px 18px;
  background: #f46105;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
}

.close-btn:hover {
  background: #d35400;
}


