.lended-container {
    width: 90%;
    max-width: 1100px;
    margin: 30px auto;
    font-family: "Poppins", sans-serif;
}

.top-bar {
    display: flex;
   
    gap: 20px;
    margin-bottom: 20px;
}
.lended-container h2{
    text-align: center;
}

.back-btn {
    padding: 8px 16px;
    background: #666565;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.back-btn:hover {
    background: #000;
}

.title {
    font-size: 26px;
    font-weight: 600;
    color: #222;
}

.table-wrapper {
    margin-top: 20px;
    overflow-x: auto;
}

.lended-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.lended-table thead {
    background: #144d65;
    color: white;
}

.lended-table th, 
.lended-table td {
    padding: 14px 18px;
    text-align: left;
    font-size: large;
}

.lended-table tbody tr:nth-child(even) {
    background: #f8f8f8;
}




.lended-pdf-view{
 padding: 6px 12px;
    background: #0a7e0a;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
.lended-btn{
     padding: 6px 12px;
    background: #9b2b09;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
