.user-lib-bookview {
    padding: 20px;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to right,#7bc393,#31b7c2);
}

.user-lib-bookview h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    color: #222;
}

/* Back button */
.user-lib-back{
     padding: 10px 20px;
    font-size: large;
    background-color: #f69449;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 10px;
}

/* Main container */
.user-lib-box {
    display: flex;
    justify-content: center;
}

/* Grid layout for books */
.add-book{
    display: grid;
     grid-template-columns: repeat(4, 1fr); 
    gap: 25px;
    
}

/* Individual card */
.libbookview-card {
    background: #fff;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
   width: 300px;
    margin: 15px;
    text-align: center;
}



/* Book Image */
.libbookview-card img {
    width: 50%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

/* Book Title */
.libbookview-card h3 {
    margin: 5px 0;
    font-size: x-large;
    font-weight: bold;
    color: #333;
}

/* Author and Date */
.libbookview-card p {
    margin: 3px 0;
    font-size: large;
   
}
/* .description{
    margin-top: 20px;
} */
.lib-book-description p{
    font-size: large;
  text-align: justify;
   margin: 0;          /* Text right below heading */
    line-height: 1.4;
    color: #444;
   
    white-space: pre-line;
}
.lib-book-description h5{
    text-align: start;
    font-size: x-large;
     margin: 0 0 4px 0;   /* Heading on top */
    padding: 0;
}
.lend-btn{
     background-color: #1e9311;
    color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}
.lend-btn:hover{
    background-color: #35e56f;
}
.userview-lib button{
     background-color:#444;
    color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}





